{% extends "zeapp/base.html" %}
{% block content %}
    <section class="container">

        <div class="row justify-content-md-center my-4">
            <div class="col-md-7">
                <div class="card" style="background-color:rgba(24, 25, 32, 1)">
                    {% load static %}
                    <img class="card-img-top" src="{% static 'zeapp/image/png/1x/logo.png' %}" alt="" srcset="" >
                  <div class="card-body">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="badge badge-danger"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if task %}
                        {% include "zeapp/components/task_detail.html" %}
                     {% else %}
                            {% include "zeapp/components/new_task.html" %}
                            {% if tasks %}
                                {% include "zeapp/components/tasklist.html" %}
                            {% else %}
                                <small class="font-italic text-muted ">Ajoutez une nouvelle tâche pour commencer.</small>
                            {% endif %}
                    {% endif %}
                    
                  </div>
                </div>
            </div>
        </div>
    </section>
    {% load static %}
    <script src="{% static 'zeapp/js/main.js' %}"></script>
{% endblock content %}