<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>
        {{ page_title}}
    </title>
</head>
<body>
    <div class="container">
        {% block header %}
            <ul class="nav bg-info">
                <li class="nav-item">
                <a class="nav-link link-light" href="/">ZeTodo</a>
                </li>
                <li class="nav-item">
                <a class="nav-link link-light" href="/members">Tasks</a>
                </li>
            </ul>
        {% endblock header %}
        {% block content %}
            
        {% endblock content %}

      </div>
      
</body>
</html>